@import "tailwindcss";

html , body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@theme {
  --font-vazir: 'var(--font-vazir)'
}
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}
